.menu{
    display: flex;
    justify-content: flex-end;   
}

.menu-item{
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.button-create{
    width: 100px;
    height: 50px;
    margin-bottom: 20px;
    margin-right: 600px;
}
 