

.row-head {
    vertical-align: middle;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.row-body {
    vertical-align: middle;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.overview-container {
    display: flex;
    justify-content: space-around;
}

.table-container {
    width: 1100px;
    overflow-x: scroll;
    height: 470px;
    overflow-y: scroll;
}

table {
    position: relative;
    border: 1px solid black;
}

th {
    position: sticky;
    top:0;
    background-color: #9aa0f0;
    color:brown;
    border: 1px solid black;
}

.td-body {
    border-right: 1px solid black;
}
