<div class="title">SỬA THÔNG TIN KHÁCH HÀNG</div>
<div class="container">
    <form [formGroup]="customerFormGroup">
        <div class="row">
            <div class="col-15">
                <label>Tên:</label>
            </div>
            <div class="col-35">
                <input type="text" placeholder="Nguyễn Văn A.." class="field-input form-control" formControlName="name"
                    [class.is-invalid]="customerFormGroup.get('name').invalid && customerFormGroup.get('name').touched"
                    [(ngModel)]="customer.name" name="name" ngModel>
            </div>
            <div class="col-15">
                <label>Mã:</label>
            </div>
            <div class="col-35">
                <input readonly type="text" placeholder="AQuan10.." class="field-input form-control" formControlName="code"
                    [class.is-invalid]="customerFormGroup.get('code').invalid && customerFormGroup.get('code').touched"
                    [(ngModel)]="customer.code" name="code" ngModel>
            </div>
        </div>

        <div class="row">
            <div class="col-15">
                <label>Q.1:</label>
            </div>
            <div class="col-15">
                <input type="number" placeholder="VNĐ.." class="field-input form-control" formControlName="q1"
                    [class.is-invalid]="customerFormGroup.get('q1').invalid && customerFormGroup.get('q1').touched"
                    [(ngModel)]="customer.q1" name="q1" ngModel>
            </div>
            <div class="col-15">
                <label>Q.2:</label>
            </div>
            <div class="col-15">
                <input required type="number" placeholder="VNĐ.." class="field-input form-control" formControlName="q2"
                    [class.is-invalid]="customerFormGroup.get('q2').invalid && customerFormGroup.get('q2').touched"
                    [(ngModel)]="customer.q2" name="q2" ngModel>
            </div>
            <div class="col-15">
                <label>Q.3:</label>
            </div>
            <div class="col-15">
                <input required type="number" placeholder="VNĐ.." class="field-input form-control" formControlName="q3"
                    [class.is-invalid]="customerFormGroup.get('q3').invalid && customerFormGroup.get('q3').touched"
                    [(ngModel)]="customer.q3" name="q3" ngModel>
            </div>
        </div>

        <div class="row">
            <div class="col-15">
                <label>Q.4:</label>
            </div>
            <div class="col-15">
                <input required type="number" placeholder="VNĐ.." class="field-input form-control" formControlName="q4"
                    [class.is-invalid]="customerFormGroup.get('q4').invalid && customerFormGroup.get('q4').touched"
                    [(ngModel)]="customer.q4" name="q4" ngModel>
            </div>
            <div class="col-15">
                <label>Q.5:</label>
            </div>
            <div class="col-15">
                <input required type="number" placeholder="VNĐ.." class="field-input form-control" formControlName="q5"
                    [class.is-invalid]="customerFormGroup.get('q5').invalid && customerFormGroup.get('q5').touched"
                    [(ngModel)]="customer.q5" name="q5" ngModel>
            </div>
            <div class="col-15">
                <label>Q.6:</label>
            </div>
            <div class="col-15">
                <input required type="number" placeholder="VNĐ.." class="field-input form-control" formControlName="q6"
                    [class.is-invalid]="customerFormGroup.get('q6').invalid && customerFormGroup.get('q6').touched"
                    [(ngModel)]="customer.q6" name="q6" ngModel>
            </div>
        </div>

        <div class="row">
            <div class="col-15">
                <label>Q.7:</label>
            </div>
            <div class="col-15">
                <input required type="number" placeholder="VNĐ.." class="field-input form-control" formControlName="q7"
                    [class.is-invalid]="customerFormGroup.get('q7').invalid && customerFormGroup.get('q7').touched"
                    [(ngModel)]="customer.q7" name="q7" ngModel>
            </div>
            <div class="col-15">
                <label>Q.8:</label>
            </div>
            <div class="col-15">
                <input required type="number" placeholder="VNĐ.." class="field-input form-control" formControlName="q8"
                    [class.is-invalid]="customerFormGroup.get('q8').invalid && customerFormGroup.get('q8').touched"
                    [(ngModel)]="customer.q8" name="q8" ngModel>
            </div>
            <div class="col-15">
                <label>Q.9:</label>
            </div>
            <div class="col-15">
                <input required type="number" placeholder="VNĐ.." class="field-input form-control" formControlName="q9"
                    [class.is-invalid]="customerFormGroup.get('q9').invalid && customerFormGroup.get('q9').touched"
                    [(ngModel)]="customer.q9" name="q9" ngModel>
            </div>
        </div>

        <div class="row">
            <div class="col-15">
                <label>Q.10:</label>
            </div>
            <div class="col-15">
                <input required type="number" placeholder="VNĐ.." class="field-input form-control" formControlName="q10"
                    [class.is-invalid]="customerFormGroup.get('q10').invalid && customerFormGroup.get('q10').touched"
                    [(ngModel)]="customer.q10" name="q10" ngModel>
            </div>
            <div class="col-15">
                <label>Q.11:</label>
            </div>
            <div class="col-15">
                <input required type="number" placeholder="VNĐ.." class="field-input form-control" formControlName="q11"
                    [class.is-invalid]="customerFormGroup.get('q11').invalid && customerFormGroup.get('q11').touched"
                    [(ngModel)]="customer.q11" name="q11" ngModel>
            </div>
            <div class="col-15">
                <label>Q.12:</label>
            </div>
            <div class="col-15">
                <input required type="number" placeholder="VNĐ.." class="field-input form-control" formControlName="q12"
                    [class.is-invalid]="customerFormGroup.get('q12').invalid && customerFormGroup.get('q12').touched"
                    [(ngModel)]="customer.q12" name="q12" ngModel>
            </div>
        </div>

        <div class="row">
            <div class="col-15">
                <label>Q.Thủ Đức:</label>
            </div>
            <div class="col-15">
                <input required type="number" placeholder="VNĐ.." class="field-input form-control" formControlName="qtd"
                    [class.is-invalid]="customerFormGroup.get('qtd').invalid && customerFormGroup.get('qtd').touched"
                    [(ngModel)]="customer.qtd" name="qtd" ngModel>
            </div>
            <div class="col-15">
                <label>Q.Gò Vấp:</label>
            </div>
            <div class="col-15">
                <input required type="number" placeholder="VNĐ.." class="field-input form-control" formControlName="qgv"
                    [class.is-invalid]="customerFormGroup.get('qgv').invalid && customerFormGroup.get('qgv').touched"
                    [(ngModel)]="customer.qgv" name="qgv" ngModel>
            </div>
            <div class="col-15">
                <label>Q.Bình Thạnh:</label>
            </div>
            <div class="col-15">
                <input required type="number" placeholder="VNĐ.." class="field-input form-control"
                    formControlName="qbth"
                    [class.is-invalid]="customerFormGroup.get('qbth').invalid && customerFormGroup.get('qbth').touched"
                    [(ngModel)]="customer.qbth" name="qbth" ngModel>
            </div>
        </div>

        <div class="row">
            <div class="col-15">
                <label>Q.Tân Bình:</label>
            </div>
            <div class="col-15">
                <input required type="number" placeholder="VNĐ.." class="field-input form-control" formControlName="qtb"
                    [class.is-invalid]="customerFormGroup.get('qtb').invalid && customerFormGroup.get('qtb').touched"
                    [(ngModel)]="customer.qtb" name="qtb" ngModel>
            </div>
            <div class="col-15">
                <label>Q.Tân Phú:</label>
            </div>
            <div class="col-15">
                <input required type="number" placeholder="VNĐ.." class="field-input form-control" formControlName="qtp"
                    [class.is-invalid]="customerFormGroup.get('qtp').invalid && customerFormGroup.get('qtp').touched"
                    [(ngModel)]="customer.qtp" name="qtp" ngModel>
            </div>
            <div class="col-15">
                <label>Q.Bình Tân:</label>
            </div>
            <div class="col-15">
                <input required type="number" placeholder="VNĐ.." class="field-input form-control"
                    formControlName="qbtn"
                    [class.is-invalid]="customerFormGroup.get('qbtn').invalid && customerFormGroup.get('qbtn').touched"
                    [(ngModel)]="customer.qbtn" name="qbtn" ngModel>
            </div>
        </div>

        <div class="row">
            <div class="col-15">
                <label>Q.Phú Nhuận:</label>
            </div>
            <div class="col-15">
                <input required type="number" placeholder="VNĐ.." class="field-input form-control" formControlName="qpn"
                    [class.is-invalid]="customerFormGroup.get('qpn').invalid && customerFormGroup.get('qpn').touched"
                    [(ngModel)]="customer.qpn" name="qpn" ngModel>
            </div>
            <div class="col-15">
                <label>Q.Củ Chi:</label>
            </div>
            <div class="col-15">
                <input required type="number" placeholder="VNĐ.." class="field-input form-control" formControlName="qcc"
                    [class.is-invalid]="customerFormGroup.get('qcc').invalid && customerFormGroup.get('qcc').touched"
                    [(ngModel)]="customer.qcc" name="qcc" ngModel>
            </div>
            <div class="col-15">
                <label>Q.Hóc Môn:</label>
            </div>
            <div class="col-15">
                <input required type="number" placeholder="VNĐ.." class="field-input form-control" formControlName="qhm"
                    [class.is-invalid]="customerFormGroup.get('qhm').invalid && customerFormGroup.get('qhm').touched"
                    [(ngModel)]="customer.qhm" name="qhm" ngModel>
            </div>
        </div>

        <div class="row">
            <div class="col-15">
                <label>Q.Bình Chánh:</label>
            </div>
            <div class="col-15">
                <input required type="number" placeholder="VNĐ.." class="field-input form-control" formControlName="qbc"
                    [class.is-invalid]="customerFormGroup.get('qbc').invalid && customerFormGroup.get('qbc').touched"
                    [(ngModel)]="customer.qbc" name="qbc" ngModel>
            </div>
            <div class="col-15">
                <label>Q.Nhà Bè:</label>
            </div>
            <div class="col-15">
                <input required type="number" placeholder="VNĐ.." class="field-input form-control" formControlName="qnb"
                    [class.is-invalid]="customerFormGroup.get('qnb').invalid && customerFormGroup.get('qnb').touched"
                    [(ngModel)]="customer.qnb" name="qnb" ngModel>
            </div>
            <div class="col-15">
                <label>Q.Cần Giờ:</label>
            </div>
            <div class="col-15">
                <input required type="number" placeholder="VNĐ.." class="field-input form-control" formControlName="qcg"
                    [class.is-invalid]="customerFormGroup.get('qcg').invalid && customerFormGroup.get('qcg').touched"
                    [(ngModel)]="customer.qcg" name="qcg" ngModel>
            </div>
        </div>
    </form>
    <div class="container-btn">
        <button type="submit" class="btn button-log-in" (click)="onClickUpdate()">Sửa</button>
        <button class="btn btn-danger button-cancel" (click)="onClickCancel()">Hủy</button>
    </div>
</div>