$width: 125px;
$height: 36px;
$margin-top: 25px;
$text-fontweight: 600;
$text-align: center;
$margin-left: 150px;

.container {
    display: flex;
    flex-direction: row;
    .cell1 {
        font-weight: $text-fontweight;
        width: $width;
        height: $height;
    }

    .cell2 {
        font-weight: $text-fontweight;
        width: $width;
        height: $height;
    }

    .cell3 {
        font-weight: $text-fontweight;
        width: $width;
        height: $height;
        margin-left: $margin-left;
    }

    .cell4 {
        font-weight: $text-fontweight;
        width: $width;
        height: $height;
    }

    .cell5 {
        font-weight: $text-fontweight;
        width: $width;
        height: $height;
        margin-left: $margin-left;
    }

    .cell6 {
        font-weight: $text-fontweight;
        width: $width;
        height: $height;
    }
}

.procesed-data {
    margin-top: $margin-top;
}
