$width: 1160px;
$height: 500px;
$margin-top: 25px;
$max-width: 2300px;
$padding: 5px;

.body-admin {
    width: $width;
    height: $height;
    overflow-x: scroll;
    margin-top: $margin-top;

    .table-container {
        width: $max-width;

        .header {
            background-color: #ac00e6;
            color: #b30000;
            position: sticky;
            top: 0;
        }
    }
}

table {
    position: relative;
}

.format-text-center {
    text-align: center;
}

.row-odd {
    background-color: #e699ff;
}

.row-even {
    background-color: #f2ccff;
}

.action-icon-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

i.fas {
    padding: $padding;
    font-size: 20px;
    cursor: pointer;
}

i.fas:hover {
    color: red;
}
