<ngx-alerts></ngx-alerts>
<div class="tool-bar">
    <div class="container">
        <ng-select class="select-search" [searchable]="true" [items]="listStatus" bindLabel="name" bindValue="id"
            [(ngModel)]="statusId" [(ngModel)]="pickedStatus" placeholder="Chọn kiểu tìm kiếm"></ng-select>
        <div class="input-group">
            <input type="text" class="form-control input-search" placeholder="Tìm kiếm..." [(ngModel)]="searchData">
            <div class="input-group-append">
                <button class="btn btn-secondary button" (click)="onClickSearch()">
                    <i class="fa fa-search"></i></button>
            </div>
        </div>
        <i class="fas fa-plus-circle icon-circle icon-circle" (click)="onClickCreate()"> Thêm mới</i>
    </div>
</div>

<div class="component-container">
    <div class="component-container-wrapper">
        <div class="header-row-wrapper">
            <table>
                <thead>
                    <tr class="header-row">
                        <th class="header-cell">STT</th>
                        <th class="header-cell">Tên</th>
                        <th class="header-cell">Mã</th>
                        <th class="header-cell">Phí</th>
                        <th class="header-cell"></th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="table-content-section" id="style-2">
            <div class="parent" [class.row-odd]="i % 2 == 0" [class.row-even]="i % 2 == 1"
                *ngFor="let item of listCustomersShow; index as i">
                <div>
                    <div class="row">
                        <div class="col1 td-body">{{i+1}}</div>
                        <div class="col2 td-body">{{item.name}}</div>
                        <div class="col3 td-body">{{item.code}}</div>
                        <div class="col4 td-body hover-collapse" data-toggle="collapse"
                            attr.data-target="#isCollapse{{i}}" (click)="onClickCollapse(i)"> {{detailText}} </div>
                        <div class="col5 td-body cell-border format-text-center action-icon-container update-btn">
                            <i class="fas fa-edit" (click)="onClickEdit(i)"></i>
                        </div>
                    </div>
                    <div class="collapse " id="isCollapse{{i}}">
                        <div class="card" id="style-2">
                            <div class="card-body">
                                <table class="table" style="width: 3000px;">
                                    <thead class="background-collapse">
                                        <tr>
                                            <th class="header-collapse">Quận</th>
                                            <th class="header-collapse"> 1 </th>
                                            <th class="header-collapse"> 2 </th>
                                            <th class="header-collapse"> 3 </th>
                                            <th class="header-collapse"> 4 </th>
                                            <th class="header-collapse"> 5 </th>
                                            <th class="header-collapse"> 6 </th>
                                            <th class="header-collapse"> 7 </th>
                                            <th class="header-collapse"> 8 </th>
                                            <th class="header-collapse"> 9 </th>
                                            <th class="header-collapse"> 10 </th>
                                            <th class="header-collapse"> 11 </th>
                                            <th class="header-collapse"> 12 </th>
                                            <th class="header-collapse"> Thủ Đức </th>
                                            <th class="header-collapse"> Gò Vấp </th>
                                            <th class="header-collapse"> Bình Thạnh </th>
                                            <th class="header-collapse"> Tân Bình </th>
                                            <th class="header-collapse"> Tân Phú </th>
                                            <th class="header-collapse"> Bình Tân </th>
                                            <th class="header-collapse"> Phú Nhuận </th>
                                            <th class="header-collapse"> Củ Chi </th>
                                            <th class="header-collapse"> Hóc Môn </th>
                                            <th class="header-collapse"> Bình Chánh </th>
                                            <th class="header-collapse"> Nhà Bè </th>
                                            <th class="header-collapse"> Cần Giờ </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>#</td>
                                            <td>{{item.q1 | mycurrency}} </td>
                                            <td>{{item.q2 | mycurrency}} </td>
                                            <td>{{item.q3 | mycurrency}} </td>
                                            <td>{{item.q4 | mycurrency}} </td>
                                            <td>{{item.q5 | mycurrency}} </td>
                                            <td>{{item.q6 | mycurrency}} </td>
                                            <td>{{item.q7 | mycurrency}} </td>
                                            <td>{{item.q8 | mycurrency}} </td>
                                            <td>{{item.q9 | mycurrency}} </td>
                                            <td>{{item.q10 | mycurrency}}</td>
                                            <td>{{item.q11 | mycurrency}}</td>
                                            <td>{{item.q12 | mycurrency}}</td>
                                            <td>{{item.qtd | mycurrency}}</td>
                                            <td>{{item.qgv | mycurrency}}</td>
                                            <td>{{item.qbth | mycurrency}}</td>
                                            <td>{{item.qtb | mycurrency}}</td>
                                            <td>{{item.qtp | mycurrency}}</td>
                                            <td>{{item.qbtn | mycurrency}}</td>
                                            <td>{{item.qpn | mycurrency}}</td>
                                            <td>{{item.qcc | mycurrency}}</td>
                                            <td>{{item.qhm | mycurrency}}</td>
                                            <td>{{item.qbc | mycurrency}}</td>
                                            <td>{{item.qnb | mycurrency}}</td>
                                            <td>{{item.qcg | mycurrency}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>