<div class="component-container">
    <div class="component-container-wrapper">
        <div class="header-row-wrapper">
            <table>
                <thead>
                    <tr class="header-row">
                        <th class="header-cell column1">Name</th>
                        <th class="header-cell column2">Email</th>
                        <th class="header-cell column3">Code</th>
                    </tr>
                </thead>
            </table>
        </div>

        <div class="table-content-section" id="style-2">
            <table>
                <tbody>
                    <tr *ngFor="let item of listShipper; let i=index" class=" body">
                        <td class="text-cell column1">{{item.name}}</td>
                        <td class="text-cell column2">{{item.userName}}</td>
                        <td class="text-cell column3">{{item.code}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>