<div class="title">ADD CUSTOMER</div>
<div class="container">
  <form>

    <div class="row">
      <div class="col-15">
        <label>NAME:</label>
      </div>
      <div class="col-35">
        <input type="text" placeholder="Name.." [(ngModel)]="name" name="name">
      </div>
      <div class="col-15">
        <label>CODE:</label>
      </div>
      <div class="col-35">
        <input type="text" placeholder="Code.." [(ngModel)]="code" name="code">
      </div>
    </div>

    <div class="row">
      <div class="col-15">
        <label>Q.1:</label>
      </div>
      <div class="col-15">
        <input type="text" placeholder="VNĐ.." [(ngModel)]="q1" name="q1">
      </div>
      <div class="col-15">
        <label>Q.2:</label>
      </div>
      <div class="col-15">
        <input type="text" placeholder="VNĐ.." [(ngModel)]="q2" name="q2">
      </div>
      <div class="col-15">
        <label>Q.3:</label>
      </div>
      <div class="col-15">
        <input type="text" placeholder="VNĐ.." [(ngModel)]="q3" name="q3">
      </div>
    </div>

    <div class="row">
      <div class="col-15">
        <label>Q.4:</label>
      </div>
      <div class="col-15">
        <input type="text" placeholder="VNĐ.." [(ngModel)]="q4" name="q4">
      </div>
      <div class="col-15">
        <label>Q.5:</label>
      </div>
      <div class="col-15">
        <input type="text" placeholder="VNĐ.." [(ngModel)]="q5" name="q5">
      </div>
      <div class="col-15">
        <label>Q.6:</label>
      </div>
      <div class="col-15">
        <input type="text" placeholder="VNĐ.." [(ngModel)]="q6" name="q6">
      </div>
    </div>

    <div class="row">
      <div class="col-15">
        <label>Q.7:</label>
      </div>
      <div class="col-15">
        <input type="text" placeholder="VNĐ.." [(ngModel)]="q7" name="q7">
      </div>
      <div class="col-15">
        <label>Q.8:</label>
      </div>
      <div class="col-15">
        <input type="text" placeholder="VNĐ.." [(ngModel)]="q8" name="q8">
      </div>
      <div class="col-15">
        <label>Q.9:</label>
      </div>
      <div class="col-15">
        <input type="text" placeholder="VNĐ.." [(ngModel)]="q9" name="q9">
      </div>
    </div>

    <div class="row">
      <div class="col-15">
        <label>Q.10:</label>
      </div>
      <div class="col-15">
        <input type="text" placeholder="VNĐ.." [(ngModel)]="q10" name="q10">
      </div>
      <div class="col-15">
        <label>Q.11:</label>
      </div>
      <div class="col-15">
        <input type="text" placeholder="VNĐ.." [(ngModel)]="q11" name="q11">
      </div>
      <div class="col-15">
        <label>Q.12:</label>
      </div>
      <div class="col-15">
        <input type="text" placeholder="VNĐ.." [(ngModel)]="q12" name="q12">
      </div>
    </div>

    <div class="row">
      <div class="col-15">
        <label>Q.Thủ Đức:</label>
      </div>
      <div class="col-15">
        <input type="text" placeholder="VNĐ.." [(ngModel)]="qtd" name="qtd">
      </div>
      <div class="col-15">
        <label>Q.Gò Vấp:</label>
      </div>
      <div class="col-15">
        <input type="text" placeholder="VNĐ.." [(ngModel)]="qgv" name="qgv">
      </div>
      <div class="col-15">
        <label>Q.Bình Thạnh:</label>
      </div>
      <div class="col-15">
        <input type="text" placeholder="VNĐ.." [(ngModel)]="qbth" name="qbth">
      </div>
    </div>

    <div class="row">
      <div class="col-15">
        <label>Q.Tân Bình:</label>
      </div>
      <div class="col-15">
        <input type="text" placeholder="VNĐ.." [(ngModel)]="qtb" name="qtb">
      </div>
      <div class="col-15">
        <label>Q.Tân Phú:</label>
      </div>
      <div class="col-15">
        <input type="text" placeholder="VNĐ.." [(ngModel)]="qtp" name="qtp">
      </div>
      <div class="col-15">
        <label>Q.Bình Tân:</label>
      </div>
      <div class="col-15">
        <input type="text" placeholder="VNĐ.." [(ngModel)]="qbtn" name="qbtn">
      </div>
    </div>

    <div class="row">
      <div class="col-15">
        <label>Q.Phú Nhuận:</label>
      </div>
      <div class="col-15">
        <input type="text" placeholder="VNĐ.." [(ngModel)]="qpn" name="qpn">
      </div>
      <div class="col-15">
        <label>Q.Củ Chi:</label>
      </div>
      <div class="col-15">
        <input type="text" placeholder="VNĐ.." [(ngModel)]="qcc" name="qcc">
      </div>
      <div class="col-15">
        <label>Q.Hóc Môn:</label>
      </div>
      <div class="col-15">
        <input type="text" placeholder="VNĐ.." [(ngModel)]="qhm" name="qhm">
      </div>
    </div>

    <div class="row">
      <div class="col-15">
        <label>Q.Bình Chánh:</label>
      </div>
      <div class="col-15">
        <input type="text" placeholder="VNĐ.." [(ngModel)]="qbc" name="qbc">
      </div>
      <div class="col-15">
        <label>Q.Nhà Bè:</label>
      </div>
      <div class="col-15">
        <input type="text" placeholder="VNĐ.." [(ngModel)]="qnb" name="qnb">
      </div>
      <div class="col-15">
        <label>Q.Cần Giờ:</label>
      </div>
      <div class="col-15">
        <input type="text" placeholder="VNĐ.." [(ngModel)]="qcg" name="qcg">
      </div>
    </div>

    <div class="container-btn">
      <button type="submit" class="btn button-log-in" (click)="onClickAdd()">Add</button>
      <button class="btn btn-danger button-cancel" (click)="onClickCancel()">Cancel</button>
    </div>
  </form>
</div>