.title {
    font-family: cursive;
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    margin-bottom: 30px;
}

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-15 {
    text-align: right;
    width: 15%;
    margin-top: 6px;
}

.col-35{
    float: left;
    width: 35%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.button-log-in {
    background-color: #6495e3;
}

.button-cancel {
    background-color: #e36479;
}

.btn{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 179px;
    margin-left: 10px;
    margin-right: 10px;
}

.container-btn{
    display: flex;
    justify-content: space-around;
}
