<app-toolbar-shipper> </app-toolbar-shipper>

<div class="body-admin">
    <table class="table table-container table-bordered">
        <thead>
            <tr>
                <th *ngFor="let column of listHeaders; index as i" class="cell-border format-text-center header">
                    {{column}}
                </th>
            </tr>
        </thead>
        <tbody class="table table-fixed">
            <tr [class.row-odd]="i % 2 == 0" [class.row-even]="i % 2 == 1"
                *ngFor="let item of listbillShipper; index as i">
                <th class="cell-border format-text-center">{{i+1}}</th>
                <td class="cell-border format-text-center">{{item.id}}</td>
                <td class="cell-border format-text-center">{{item.customerId}}</td>
                <td class="cell-border format-text-center">{{item.receiverName}}</td>
                <td class="cell-border format-text-center">{{item.address}}</td>
                <td class="cell-border format-text-center">{{item.district}}</td>
                <td class="cell-border format-text-center">{{item.phoneNumber}}</td>
                <td class="cell-border format-text-center">{{item.customerNote}}</td>
                <td class="cell-border format-text-center">{{item.total| mycurrency }}</td>
                <td class="cell-border format-text-center">{{item.status}}</td>
                <td class="cell-border format-text-center">{{item.staffNote}}</td>
                <td class="cell-border format-text-center">{{item.doneDate}}</td>
                <td class="cell-border format-text-center action-icon-container">
                    <i class="fas fa-edit" (click)="onClickEdit(item)"></i>
                    <!-- <i class="fas fa-trash-alt" (click)="onClickDelete(item)"></i> -->
                </td>
            </tr>
        </tbody>
    </table>
</div>